<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h5 th:text="${msg}"></h5>
<h2>用户注册</h2>
<form action="/user/register" method="post">
    姓名:<input name="name"/><br/>
    密码:<input name="password"/><br/>
    邮箱:<input name="email" id="email"/><input  type="button" onclick="toSend()" id="happy" value="发送验证码" /><br/>
    请输入验证码<input name="code"><br/>
    <input type="submit" value="注册"/>
</form>

<script src="../jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    function toSend() {
        var email = $("#email").val();
        $.ajax({
            type: "GET",
            url: "/user/sendEmail?adr="+email,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (message) {

                    $("#happy").val("发送成功")

            },
            error: function (message) {
            }
        });
    }
</script>
</body>
</html>